
.transition1 {
	transition: all 0.2s ease-in;
}
.tm-m-photos,  .tm-m-photos-thumb {
	zoom: 1;
}
.tm-m-photos-thumb {
	margin: 2px 0px 0px 0px;
	list-style-type: none;
	height: 85px;
}
.tm-m-photos-thumb li {
	float: left;
	border: 2px solid #f2f2f2;
	padding: 2px;
	margin-right: 8px;
	position: relative;
	transition: border-color .2s ease-out;
	width:80px;
	height: 80px;
}
.tm-m-photos-thumb .tm-current {
	border: 2px solid #f4931a;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	cursor: auto;
}
.tm-m-photo-viewer {
	position: relative;
	margin: 10px 0px;
	width: 0px;
	height: 0px;
	background: #fff;
	overflow: hidden;
}
.tm-m-photo-viewer-navleft, .tm-m-photo-viewer-navright {
	position: absolute;
	/*  *position: relative;加上这句表示不再支持IE6 7 在图片上翻页*/
	bottom: 0;
	background: url(img/arrowBackground.gif);
	
}
.tm-m-photo-viewer-navleft {
	top: 0;
	left: 0;
	width: 10px;
	cursor: pointer;
}
.tm-m-photo-viewer-navright {
	top: 0;
	right: 0;
	width: 80px;
	cursor: pointer;
}
.tm-photos-arrow {
	width: 0;
	height: 0;
	line-height: 0;
	font-size: 0;
	border: 6px dashed transparent;
	border-top: 6px solid #f4931a;
	position: absolute;
	left: 37px;
	filter: alpha(opacity=0);
	opacity: 0;
	bottom: -8px;
	background: 0 0;
}
.tm-current .tm-photos-arrow {
	filter: alpha(opacity=100);
	opacity: 1;
	bottom: -12px;
}

.tm-m-photo-viewer-navicon {
	display: none;
	font-size: 60px;
	font-style: normal;
	color: #b8b8b8;
	cursor: pointer;
}
.tm-m-photo-viewer-navright .tm-m-photo-viewer-navicon {
	position: absolute;
	top: 50%;
	right: 8px;
}
.tm-m-photo-viewer-navleft .tm-m-photo-viewer-navicon {
	position: absolute;
	top: 50%;
	left: 8px;
}
/*cursor IE不支持相对路径**/
.tm-m-photos-thumb .img {
	padding-bottom: 100%;
    height: 0;
	background:no-repeat ;
	background-size:cover;
	display: block;
	cursor: url(common/default/pc/js/imageZoom/img/zoom_in.cur), url(img/zoomIn.png), auto;
	/*让IE8支持background-size:cover */
	-ms-behavior: url(common/default/pc/js/css3pie/backgroundsize.min.htc);
	/*让IE7支持background-size:cover */
	behavior: url(common/default/pc/js/css3pie/backgroundsize.min.htc);
}


/*cursor IE不支持相对路径
.tm-m-photos-thumb img {
	display: block;
	width: 80px;
	height: 80px;
	cursor: url(common/default/pc/js/imageZoom/img/zoom_in.cur), url(img/zoomIn.png), auto;
}**/
.tm-m-photo-viewer,  .tm-m-photo-viewer img,  .tm-m-photos-thumb .tm-current img {
	cursor: url(common/default/pc/js/imageZoom/img/zoom_out.cur), url(img/zoomOut.png), auto;
	
}