<#-- 默认关注列表 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<base href="${baseURL}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>关注 - ${title}</title>
	<meta name="keywords" content="${keywords}"/>
	<meta name="description" content="${description}"/>
	<#-- 获取令牌 -->
	<meta name="csrfToken" content="${token}"/>
	<link rel="shortcut icon" type="image/x-icon" href="${baseURL}${commonPath}images/favicon.ico" media="screen" />
	<link href="${commonPath}css/common.css" type="text/css" rel="stylesheet" charset="utf-8">
	<link href="${commonPath}css/themify-icons/style.css" type="text/css" rel="stylesheet">
	<script language="javascript" src="${commonPath}js/tool.js" type="text/javascript"></script>
	<script language="javascript" src="${commonPath}js/ajax.js" type="text/javascript"></script>
	<script language="javascript" src="${commonPath}js/json2.js" type="text/javascript"></script>
	<script language="javascript" src="${commonPath}js/jquery/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="${commonPath}js/jquery/jquery.letterAvatar.js" language="javascript"></script>
	<link href="${commonPath}js/layer/skin/default/layer.css"  type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="${commonPath}js/layer/layer.js" language="javascript"></script>
</head>
<script type="text/javascript" language="javascript"> 

//删除关注
function deleteFollow(followId){
	var parameter = "";//URI参数
	parameter += "&followId="+followId;
	//从meta标签获取令牌
	parameter += "&token="+getCsrf();
	
	if(parameter.indexOf("&") == 0){
		parameter = parameter.substring(1,parameter.length);
	}
	
	post_request(function(value){
		if(value != ""){
			var returnValue = JSON.parse(value);//JSON转为对象
			for(var key in returnValue){
				if(key == "success"){	
					var success = returnValue[key];	
					if(success == "true"){
						layer.msg('删除关注成功,3秒后刷新页面', 
							{
							  time: 3000 //3秒关闭（如果不配置，默认是3秒）
							},function(){
								//关闭后的操作
					        	document.location.reload();//刷新页面
							}
						);
					}
				}else if(key == "error"){
					var errorValue = returnValue[key];
					var htmlValue = "";
					var i = 0;
					for(var error in errorValue){
						if(error != ""){	
							i++;
							htmlValue += "&nbsp;&nbsp;"+i+"、"+errorValue[error]+"<br>";
						}
					}
					
					layer.open({
					  type: 1,
					  title: '错误', 
					  skin: 'layui-layer-rim', //加上边框
					  area: ['300px', '150px'], //宽高
					  content: htmlValue
					});
					
				}
			}
		}
	},
		getBasePath()+"user/control/deleteFollow?timestamp=" + new Date().getTime(), true,parameter);	
}
</script>
<body>
<#-- 引入页头 -->
<@include action="${newPublic_2}"/>
<div class="skeleton">
	<div class="main wrap backgroundModule" >

		<#-- 引入服务导航 -->
		<@include action="${newPublic_4}"/>
	
		<div class="dataTable">
			<TABLE class="dataList" width="100%">
				<THEAD>
					<TR class="dataThead">
						<TH width="66%">用户</TH>	
						<TH width="20%">关注时间</TH>	
						<TH width="14%">操作</TH>
					</TR>
				</THEAD>
				<TBODY>
		    		<#if pageView.records?exists && pageView.records?size gt 0 >    
					<#list pageView.records as follow>
					<TR>
						<TD class="dataTD followModule" style="text-align: left! important;">
							<div class="avatarBox">
								<a href="user/control/home?userName=${follow.friendUserName}" target="_blank" class="link">
									<#if follow.friendAvatarName != null && follow.friendAvatarName != ''>    
										<img src="${follow.friendAvatarPath}100x100/${follow.friendAvatarName}" >
						            </#if> 
						            
						        	<#if follow.friendAvatarName == null || follow.friendAvatarName == ''>    
										<!-- 首字符头像-->
						         		<img avatar="${(follow.friendNickname != null && follow.friendNickname??) ?string(follow.friendNickname , follow.friendAccount)}" >
						            </#if> 
								</a>
							</div>
							<a href="user/control/home?userName=${follow.friendUserName}" target="_blank" class="link userName">
								<#if follow.friendAccount == null || follow.friendAccount == ''>
									<span class="cancelAccount">此用户账号已注销</span>
								</#if>
								${follow.friendAccount}
								<#if follow.friendNickname != null && follow.friendNickname??>    
									（呢称：${follow.friendNickname}）
								</#if> 
							</a>
						</TD>
						<TD class="dataTD">
							${follow.addtime}	
						</TD>
						<TD class="dataTD">
							<a class="operation-button" href="javascript:" onclick="deleteFollow('${follow.id}')">
								<span>删除</span>
							</a>
						</TD>
		    		</TR>
		    		</#list>
		    		</#if> 
		    		<#if !pageView.records?exists || pageView.totalrecord == 0 > 
		    			<TR>
							<TD colSpan="3"  class="empty">还没有关注用户</TD>
		    			</TR>
		    		</#if> 
		    	</TBODY>
			</TABLE>
			<DIV class=pageList>
				<@include action="${newPublic_1}"/>
			</DIV>
		</div>

	</div>

</div>
<#--引入页脚-->
<@include action="${newPublic_3}"/>
</body>

</html>
