<#-- 默认跳转页 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<base href="${baseURL}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>跳转 - ${title}</title>
	<meta name="keywords" content="${keywords}"/>
	<meta name="description" content="${description}"/>
	<link rel="shortcut icon" type="image/x-icon" href="${baseURL}${commonPath}images/favicon.ico" media="screen" />
	<link href="${commonPath}css/common.css" type="text/css" rel="stylesheet">
	<script src="${commonPath}js/tool.js" type="text/javascript" language="javascript" ></script>
</head>
<body>
<#-- 引入页头 -->
<@include action="${newPublic_2}"/>
<div class="fixedBottom wrap">
	<div style="background: #fff; height: 1px;"></div>
	<div class="messageModule">
		<h1>${message}</h1>
		<div style="margin-top: 30px;">
			<span class="submitButton"><INPUT type="button" value="跳转" onclick="javascript:window.location.href='${urlAddress}'"></span>
		</div>
		<div class="push"><!-- 把div#footer推下去 --></div>
	</div>
	
</div>
<#--引入页脚-->
<@include action="${newPublic_3}"/>
</body></html>

