<#-- 话题搜索页 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<base href="${baseURL}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>${title}</title>
	<meta name="keywords" content="${keywords}"/>
	<meta name="description" content="${description}"/>
	<link rel="shortcut icon" type="image/x-icon" href="${baseURL}${commonPath}images/favicon.ico" media="screen" />
	<link href="${commonPath}css/common.css" rel="stylesheet" type="text/css" />
	<!--[if (IE 6)|(IE 7)|(IE 8)]>
	<script type="text/javascript" src="${commonPath}js/css3pie/PIE_IE678.js"></script> 
	<![endif]--> 
	<script language="javascript" src="${commonPath}js/tool.js" type="text/javascript"></script>
	<script language="javascript" src="${commonPath}js/ajax.js" type="text/javascript"></script>
	<script language="javascript" src="${commonPath}js/json2.js" type="text/javascript"></script>
</head>
<body>
<#-- 引入页头 -->
<@include action="${newPublic_2}"/>
<div class="skeleton ">
	<div class="main wrap backgroundModule" >
		<div class="topicModule">
			<table cellspacing="0" cellpadding="0">  
				<#if topicPage?exists && topicPage.records?exists && topicPage.records?size gt 0>
					<#list topicPage.records as topic>
						<tbody>               
							<tr>
					    		<th> 
							        <div class="avatarBox">
							            <a class="avatarLink" href="user/control/home?userName=${topic.userName}">
							                <#if topic.avatarName != null>
												<img src="${topic.avatarPath}${topic.avatarName}">
											<#else>
												<img src="${commonPath}images/min_avata.png">
											</#if>                                                           
							            </a>   
							        </div>
							        <div class="content highlight">
							            <a href="thread?topicId=${topic.id}" class="title">
								          	<#noescape>${topic.title}</#noescape></span>
										</a>
										<#list topic.allowRoleViewList as roleName>
											<span class="topicRoleName">${roleName}</span>
											
										</#list>
										<div class="clear"></div>
										<div class="info clearfix">
							
											<a href="javascript:;" class="clear">
												<em class="replies">${topic.commentTotal}</em>
												<img class="images" src="${commonPath}images/comment.png" style="float: right;*margin-top: 26px;" alt=""/>
											</a>
							
											<a href="" class="view" style="*margin-top: 20px;">
												<img class="images" src="${commonPath}images/pageview.png" alt="" style="float: left;"/>${topic.viewTotal}
											</a>
											<span class="tag">${topic.tagName}</span>
											<em>  
							                	<a href="#" >
								           			<span style="display:inline-block;margin-left: 7px;">
								                    	${(topic.nickname != null && topic.nickname??) ?string(topic.nickname , topic.userName)}
								                    </span>
							                    </a>
							                    <#list topic.userRoleNameList as roleName>
													<span class="userRoleName">${roleName}</span>
													
												</#list>
							                </em>
							                <em>发表时间：${topic.postTime}</em>
							                <#if topic.lastReplyTime != null>
							                	<em>最新回复：${topic.lastReplyTime}</em>
							                </#if>
							                
										</div>
									</div>
									<div class="highlight" style="margin-left: 82px;margin-right: 8px;margin-top:5px; font-size: 14px;">
										<#noescape>${topic.content}</#noescape>
									</div>
								</th>    
					        	<td></td>
							</tr>
						</tbody>          
					</#list>
				</#if>                                    
			</table>
			
			<div class="topicPage">
				<#assign pageView = topicPage>
				<#--引入分页-->
				<@include action="${newPublic_1}"/>
			</div>
		</div>
		
	
	</div>
</div>
<#-- 引入页脚 -->
<@include action="${newPublic_3}"/>

</body>
</html>




