BODY {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; 
	padding-top: 0px;font-size:14px;
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
	height: 100%; background-color: #ffffff; 
	width: expression(document.body.clientWidth <= 1200 ? "1200px": "auto"); 
	min-width: 1200px;
}
HTML,BODY{
	height:100%;overflow-y:hidden;margin:0 auto;
}
DIV {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
UL {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px;
	
}
/* 去除黑点 */
ul,ol {list-style:none;}
A {
	color: #4D535A; text-decoration: none;
}
A:hover {
	color: #ff6600; text-decoration: none;
}
DL {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
table{
	height: 100%;
}
img.png {background-image: expression(this.runtimeStyle.backgroundImage = "none",this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",this.src = "backstage/images/null.gif")} 

.clearfix:after { content:"."; display:block; visibility:hidden; clear:both; height:0; font-size:0; }
.clearfix { *zoom:1;}

.top {
	height: 50px;border-bottom: 1px solid #42a5f5;background: #ecf7fe;position: relative;
}
.top .box {
	position: absolute; top: 0px;width: 100%;
}
.top .logo-wrap {
	float: left; width: 180px; height: 50px; border-right: 1px solid #42a5f5;
}
.top .logo-wrap .logo {
	background: url(../images/logo.gif) no-repeat 0px 0px; width: 180px; height: 50px
}
.top .nav-wrap {
	margin-left: 154px;
}
.top .nav-wrap .nav-list-item {
	position: relative;
	display: block;
	float: left;
	line-height: 50px;
	color: #42a5f5;
}
.top .nav-wrap .nav-list-item:hover {
	color: #fff;
}
.top .nav-wrap .nav-list-title {
	width: 100px;
	display: block;
	float: left;
	text-align: center;
}
.top .nav-wrap .nav-list-title2 {
	width: 60px;
	display: block;
	float: left;
	text-align: center;
}
.top .nav-wrap .nav-list-title3 {
	display: block;
	float: left;
	text-align: left;
	margin-left: 13px;
}

.top .nav-wrap .fr{float:right}
.top .nav-wrap .nav-list-item a {
	font-size: 14px
}

.top .nav-wrap .nav-list-title{
	font-size: 16px;
	font-weight: 600;
}

.top .nav-wrap .nav-list-title .pos-rel,
.top .nav-wrap .nav-list-title2 .pos-rel,
.top .nav-wrap .nav-list-title3 .pos-rel{
	position:relative;
}
.top .nav-wrap .nav-list-title:hover{
	background-color: #42a5f5;
	cursor: pointer;
	height: 50px;
}

.top .nav-wrap .nav-list-title3:hover{
	cursor: pointer;
	height: 50px;
}


.top .nav-wrap .on {
	background-color: #42a5f5;
	color: #fff;
}
.top .nav-wrap .nav-list-title .menu-icon{
	position: absolute;
	top: 19px;
	left:9px;
	font-size: 12px;
}

.top .nav-wrap .hide:hover div {
	display:block;
}

.top .nav-wrap .nav-list-item .nav-pop-list {
	width:100%;
	display:none;
	background-color: #fff;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 999;
	box-shadow: 0 3px 10px rgba(0,0,0,.1);
	z-index: 9999;
	line-height:1.5;
}
.top .nav-wrap .nav-list-item .nav-pop-list .ul-navlist {
	font-size: 0
}

.top .nav-wrap .nav-list-item .nav-pop-list .ul-navlist li {
	display: inline-block;
	font-size: 15px;
	text-align: left;
	padding: 8px 8px;
    margin: 0;
	color: #666;
	width: 100%;
	cursor: pointer;
}
.top .nav-wrap .nav-list-item .nav-pop-list .ul-navlist li:hover{
	background: #eeeeee;
	
}
.top .nav-wrap .nav-list-item .nav-pop-list .ul-navlist li i {
	font-size: 13px;margin-right: 5px;
}
.top .nav-wrap .nav-list-item .nav-list-title2 .link-icon {
	background: #FFF;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	display: inline-block;
	height: 32px;
	position: relative;
	width: 32px;
	text-align: center;
	margin-top: 9px;
}
.top .nav-wrap .nav-list-item .nav-list-title2 .link-icon i{
	font-size: 18px;margin-top: 7px; color:#06b5ff;display: inline-block;
}

.top .nav-wrap .nav-list-item .nav-list-title3 .user-info {
	float: right;padding-left: 5px;padding-right: 25px;text-align: left;min-width: 44px;margin-top: 10px;
}
.top .nav-wrap .nav-list-item .nav-list-title3 .avatarImg{
	display:inline-block;border-radius:100%;float: left;margin-top: 7px;
	
}
.top .nav-wrap .nav-list-item .nav-list-title3 .avatarImg .circle{
	border-radius:100%;box-shadow: 0 0 0 1px #fff,0 0 0 2px #fff;
	width: 36px;height: 36px;background: #ebebeb;
}
.top .nav-wrap .nav-list-item .nav-list-title3 .avatarImg .circle i{
	font-size: 25px;color: #cccccc;margin-left: 7px;margin-top: 4px;display: inline-block;
}

.top .nav-wrap .nav-list-item .nav-list-title3 .user-info .name {
	display: block;
	color: #333;
	font-size: 15px;
	line-height: 18px;
}

.top .nav-wrap .nav-list-item .nav-list-title3 .user-info .role {
	display: block;
	color: #ACACAC;
	font-size: 12px;
	line-height: 14px;
}
.top .nav-wrap .nav-list-item .nav-list-title3 .more{
	font-size: 13px;position: absolute;right: 10px;top: 20px;color: #acacac;
}





.top .nav-wrap .nav-list-item .nav-list-title2 .browserButton{
	display:inline-block;border-radius:100%;margin-top: 6px;
	
}
.top .nav-wrap .nav-list-item .nav-list-title2 .browserButton .circle{
	border-radius:100%;
	width: 38px;height: 38px;background: #b4dcfb;
}
.top .nav-wrap .nav-list-item .nav-list-title2 .browserButton .circle:hover{
	box-shadow: 0 0 0 1px #b4dcfb,0 0 0 2px #b4dcfb;
}
.top .nav-wrap .nav-list-item .nav-list-title2 .browserButton .circle i{
	font-size: 26px;color: #42a5f5;margin-top: 6px;display: inline-block;
}



/*background: url(../images/left_bg.png) repeat-y ;*/
.left {
	 OVERFLOW: hidden;background: #f9fcff;
}
.left DT {
	clear: both; padding-left: 15px; background: #ecf7fe;  color: #42a5f5; line-height: 32px; height: 32px;position: relative;
}
.left DD {
	clear: both; padding-left: 10px; margin: 5px; color: #555; line-height: 22px; height: 22px;font-size: 13px;
}
.left.links {	
	color:#1a97e4
}
.left_navigation .main {
	width: 16px; cursor: pointer; height: 100%;
}
.left_navigation .leftArrow {
	BORDER-RIGHT: #42a5f5 1px solid; background: url(../images/leftArrow.gif) #ecf7fe no-repeat  center; width: 8px
}
.left_navigation .leftArrow:hover {
	background-color: #E3F1FB
}
.left_navigation .rightArrow {
	BORDER-RIGHT: #99BAD5 1px solid; background: url(../images/rightArrow.gif) #ecf7fe no-repeat center; width: 8px
}
.left_navigation .rightArrow:hover {
	background-color: #E3F1FB
}

/* 选项卡 */
.iframeTab{  position:relative;}
.iframeTab .tabBar{ background:#f9fcff;}
.iframeTab .tabBar li{ float:left; border-right:1px solid #bfe3ff; border-bottom: 1px solid #bfe3ff;white-space:nowrap;}
.iframeTab .tabBar li a{ padding:0 5px 0 15px; color:#666;  outline:none; font-size: 15px;line-height: 32px;}
.iframeTab .tabBar li a:hover{ text-decoration: none;outline:none;}
.iframeTab .tabBar .cur{ margin:0px 0 0px 0px; padding:0 0 0px;  background:#fff; height:33px;  border-bottom:0 none; }/*position:relative; border-top:2px solid #3dabe7; height:30px;  border-bottom:0 none;*/
.iframeTab .tabBar .cur a,.tabBar .cur a:hover{  color: #1a97e4; text-decoration: none;outline:none;}
.iframeTab .tabBar .close{ color:#919191;font-size:18px;width:20px;height:20px;line-height:15px;margin-left:2px; margin-right:5px; font-style:normal;cursor: pointer;}
.iframeTab .tabBar .close{ vertical-align:baseline;_line-height:20px; }
.iframeTab .tabBar .close:hover,.iframeTab .tabBar .close:focus{ color:#26a2ff; }