BODY {
	margin: 0px; color: #333333;  background-color: #ffffff;
	font-size:14px;font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
html {overflow-y:auto!important;*overflow-y:scroll;}
IMG {
	border-top-width: 0px; border-left-width: 0px; border-bottom-width: 0px; border-right-width: 0px
}
FORM {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
A {
	text-decoration: none;        
}
A:link {
	color: #222222
}
A:visited {
	color: #888888
}
A:hover {
	color: #ff6600
}
A:active {
	color: #0099CC; 
}


input::-moz-focus-inner{ border: 0;padding: 0;}


/* 表单 */
.date-input{outline: none;border:1px solid #ddd;background:url(../images/dateSelect.gif) center right no-repeat #f7f7f7;cursor:pointer;font:13px tahoma,arial;height:22px;width:150px;padding-bottom: 2px;margin-top: 2px;margin-bottom: 2px;}

.form-text{
	outline: none; height:22px; line-height:22px; padding:2px 4px;border:1px solid;border-color:#cdcdcd #cdcdcd #cdcdcd #cdcdcd;background:#fff;border-radius:2px;margin-top: 2px;margin-bottom: 2px;
}
.form-text:disabled{  
    border: 1px solid #e6e6e6;  
    background-color: #fbfbfb;  
    color:#c9c9c9;
    border-radius:2px;
} 

.form-select{
	outline: none; height:28px; line-height:28px; padding:2px 4px;border:1px solid;border-color:#cdcdcd #cdcdcd #cdcdcd #cdcdcd;background:#fff;border-radius:2px;margin-top: 2px;margin-bottom: 2px; color: #444;margin-right: 1px;
}
.form-select:disabled{  
    border: 1px solid #e6e6e6;  
    background-color: #fbfbfb;  
    color:#c9c9c9;
    border-radius:2px;
} 
.form-textarea{
	line-height: 24px;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
	vertical-align: top;
	font-size: 14px;
    resize: vertical;
	margin: 0em;
	padding: 3px 3px;
    background: #ffffff;
    outline: none;
    color: rgba(0,0,0,0.8);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease, -webkit-box-shadow 0.2s ease;
    
}

.d-box {
	margin: 0px auto; width: 99%;   
}
.d-head {
	border-right: #BFE3FF 1px solid; padding-right: 15px; border-top: #BFE3FF 1px solid; margin-top: 5px; padding-left: 15px; padding-bottom: 5px; border-left: #BFE3FF 1px solid; padding-top: 5px; border-bottom: #BFE3FF 1px solid
}
.d-location{
	padding-right: 0px; padding-left: 20px; float: left; padding-bottom: 3px; padding-top: 3px
}
.d-clear {
	clear: both
}
.d-button {
	border:1px solid #BFE3FF; margin-top: 2px; line-height:36px; padding-left: 5px;
}
.d-checkBoxNoSel{  
    background: url("../images/checkboxNoSel.jpg") no-repeat center center;  
    float:left;  
    width:15px;  
    height:15px;  
    border:1px solid #BDBDBD;  
    color:#FFF;  
}  
.d-checkBoxSel{  
    background: url("../images/checkboxSel.jpg") no-repeat center center;
    float:left;  
    width:15px;  
    height:15px;  
    border:1px solid #BDBDBD;  
    color:#FFF;  
} 

/* 星级评分 */
/*  key:  B=空白 : O=橙色：G =绿色*/
/* B B B B B - (0 0)*/
/* G B B B B - (0 -16px)*/
/* G G B B B - (0 -32px)*/
/* G G G B B - (0 -48px)*/
/* G G G G B - (0 -64px)*/
/* G G G G G - (0 -80px)*/
/* O B B B B - (0 -96px)*/
/* O O B B B - (0 -112px)*/
/* O O O B B - (0 -128px)*/
/* O O O O B - (0 -144px)*/
/* O O O O O - (0 -160px)*/


/* 默认的评级是放在UL 的背景图像/ */
/* 使用背景位置根据上表显示所需的图像*/
.rating{
	width:80px;
	height:16px;
	margin:5px 0 5px 0;
	padding:0;
	list-style:none;
	clear:both;
	position:relative;
	background: url(../images/star_matrix.gif) no-repeat 0 0;
}
/* 显示星星数量 */
.star_0 {background-position:0 0}
.star_1 {background-position:0 -16px}
.star_2 {background-position:0 -32px}
.star_3 {background-position:0 -48px}
.star_4 {background-position:0 -64px}
.star_5 {background-position:0 -80px}
ul.rating li {
	cursor: pointer;
 /*ie5 mac */
	float:left;
	/* end hide*/
	text-indent:-999em;
}
ul.rating li a {
	position:absolute;
	left:0;
	top:0;
	width:16px;
	height:16px;
	text-decoration:none;
	z-index: 200;
}
ul.rating li.one a {left:0}
ul.rating li.two a {left:16px;}
ul.rating li.three a {left:32px;}
ul.rating li.four a {left:48px;}
ul.rating li.five a {left:64px;}
ul.rating li a:hover {
	z-index:2;
	width:80px;
	height:16px;
	overflow:hidden;
	left:0;	
	background: url(../images/star_matrix.gif) no-repeat 0 0
}
ul.rating li.one a:hover {background-position:0 -96px;}
ul.rating li.two a:hover {background-position:0 -112px;}
ul.rating li.three a:hover {background-position:0 -128px}
ul.rating li.four a:hover {background-position:0 -144px}
ul.rating li.five a:hover {background-position:0 -160px}


/*分页#BFE3FF*/
.pg_div {
	margin-top: 3px;
}
.pg {
	float: right;line-height: 30px; 
}
.pg A {
	border: #BFE3FF 1px solid; padding-bottom: 0px; background-color: #fff; padding-left: 10px; padding-right: 10px; display: inline; background-repeat: no-repeat; float: left; height: 30px; color: #333; margin-left: 4px; overflow: hidden; text-decoration: none; padding-top: 0px;
}
.pg A.prev {
	padding-bottom: 0px; padding-left: 10px; padding-right: 10px; padding-top: 0px; 
}
.pg A.nxt {
	padding-bottom: 0px; padding-left: 10px; padding-right: 10px; padding-top: 0px;  
}
.pg A:hover {
	border: #3198e7 1px solid;
	color: #3198e7;    
}
.pg LABEL {
	border: #BFE3FF 1px solid; padding-bottom: 0px; background-color: #fff; padding-left: 10px; padding-right: 10px; display: inline; background-repeat: no-repeat; float: left; height: 30px; color: #333; margin-left: 4px; overflow: hidden; text-decoration: none; padding-top: 0px
}
.pg LABEL .pg_input {
	padding:0;width:25px;height:15px;line-height:15px;margin-bottom: 3px;*margin-bottom: 0px; 
}
.pg STRONG {
	border: #BFE3FF 1px solid; padding-bottom: 0px; background-color: #fff; padding-left: 10px; padding-right: 10px; display: inline; background-repeat: no-repeat; float: left; height: 30px; color: #555; margin-left: 4px; overflow: hidden; text-decoration: none; padding-top: 0px; background-color: #BFE3FF
}
.pg span.count {
	border: #BFE3FF 1px solid; padding-bottom: 0px; background-color: #fff; padding-left: 10px; padding-right: 10px; display: inline; background-repeat: no-repeat; float: left; height: 30px; color: #333; margin-left: 4px; overflow: hidden;  text-decoration: none; padding-top: 0px;
}



/** 头像 **/
.avatarModule {
	padding-left: 8px;padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background: #fcfcfc;
}
.avatarModule .original-box{
	width: 400px;
	height: 400px;
	background-color: #f6f6f6;
}
.avatarModule .preview-pane {
	display: block;
	position: absolute;
	left:436px;
	top: 20px;
	z-index: 2100;	
}
.avatarModule .preview-pane .preview-container {
	height: 200px;
	overflow: hidden;
	width: 200px;
}
.avatarModule .preview-pane2 {
	border-radius: 100%;
	overflow: hidden;
	line-height: 100px;
	position: absolute;
	left:488px;
	top: 265px;
	z-index: 2200;
	
}
.avatarModule .preview-pane2 .preview-container2 {
	height: 100px;
	overflow: hidden;
	width: 100px;
}
/*原图预览DIV*/
.avatarModule .image-crop-original-div{
	float: left;
	display: inline-block;
	_zoom:1;*display:inline;
	*position: absolute;
	
}
.avatarModule .original-box img{
	width: 400px\9;
	float: left;
	display: inline-block;
}
/*截图预览DIV*/
.avatarModule .image-crop-preview-div{
	width: 100%;
	float: left;
}

.avatarModule .bottomInfo{
	margin-top: 10px;line-height:34px; border-top: 1px solid #d9dadb;
}
.avatarModule .bottomInfo .avatar-upload-button{
	padding-top: 12px;float: right;line-height: 36px; 
}
.avatarModule .bottomInfo .avatar-submit-button{
	padding-top: 15px; padding-top:13px\0; *padding-top:12px;   float: right;line-height: 36px;
}

.avatarModule .bottomInfo .uploadButton{
	position: relative;
	color: #0592fe;
    border-color: #0592fe;
    outline: none;
    display: inline-block;
   	padding-bottom:2px;
    padding-left: 12px;
    padding-right:12px; 
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    margin: 0;
	text-decoration: none;
}
.avatarModule .bottomInfo .uploadButton input {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
.avatarModule .bottomInfo .uploadButton:hover {
    background: #f1f9ff;  
    text-decoration: none;
}




