.cross-box{
	position:sticky;
	top: 0px;
	z-index: 99999;
	height: 40px;
	overflow: hidden;
}
.cross {
	background-color: rgba(0,0,0,.5);
	border-radius: 50%;
	cursor: pointer;
	width: 80px;
	height: 80px;
	overflow: hidden;
	position: absolute;
	
	right: -40px;
	top: -40px;
	-webkit-transition: background-color .15s;
	transition: background-color .15s;
	
	z-index: 999999;
}
.cross:hover {
	background-color: rgba(0,0,0,.8);
}
.cross::after,
.cross::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 2px; top: 56px;left: 18px;}

.cross::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.cross::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.cross--light::after,
.cross--light::before {
	background-color: #fff;
}

.cross--dark::after,
.cross--dark::before {
	background-color: white;
}


.slb {
  box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, 0.2);
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.slb--invert {
  box-shadow: 2px 2px 12px 1px rgba(255, 255, 255, 0.3); }

.slb--opened {
  cursor:zoom-out; }

.pop-in {
  -webkit-animation: pop-in 250ms;
  -moz-animation: pop-in 250ms;
  -ms-animation: pop-in 250ms; }

.pop-out {
  -webkit-animation: pop-out 250ms;
  -moz-animation: pop-out 250ms;
  -ms-animation: pop-out 250ms; }

#overlay {
	/**
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow:auto;
	display: none;
	pointer-events: none;
	cursor: pointer;
	will-change: transform;
	z-index: 999;**/
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	overflow:auto;
	display: none;
	pointer-events: none;
	cursor: pointer;
	will-change: transform;
	z-index: 99999999;
	
	/**
	position: absolute;
	width:100%;
	height:100%;
	
	top: 0;
	left: 0;
	overflow:auto;
	display: none;
	pointer-events: none;
	cursor: pointer;
	will-change: transform;
	z-index: 999;**/
}

.image-box {
	position: absolute; 
    top: 0; right: 0; left: 0;
    margin: auto;
    text-align:center;
	
}
.center {
    margin-top:50px;
	margin-bottom: 50px;
}

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pop-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); } }

@keyframes pop-out {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); } }

/*# sourceMappingURL=simplebox.css.map */
